{% load url from future %}
<div class="info-right-nav">
	<a href="{% url 'about' %}">About<a/>
	<a href="{% url 'community' %}">Community Teams<a/>
	<a href="{% url 'contact' %}">Contact<a/>
	<a href="{% url 'legal' %}">Legal<a/>
	<div class="link-holder">
		<a href="https://www.facebook.com/LendExperience" target="_blank">
			<img src="https://d2usanuqr4r7y2.cloudfront.net/images/icons/facebook.png" />
		
		</a>
		<a href="https://twitter.com/lendexperience" target="_blank">
			<img src="https://d2usanuqr4r7y2.cloudfront.net/images/icons/twitter.png" />
		</a>
	</div>
</div>