{% extends "core/base.html" %}
{% load url from future %}
{% load staticfiles %}

{% block content %}
{% if authenticated == False %}
	{% include "core/topNav_detail_out.html" %}
{% else %}
	{% include "core/topNav_detail_in.html" %}
{% endif %}
<script type="text/javascript"> 
	{% if myProfile == False %}
		var page = "story";
		var story_url = "{{ profile.fname }}-{{ profile.lname }}-{{ profile.id }}";
	{% else %}
		var page = "myStory";
	{% endif %}
	//var story_url = "{{ profile.fname }}/{{ profile.lname }}";
	$(document).ready(function(){
		$(".limited-text").dotdotdot({height:65});
	
	})
</script>

<div class="content">
	<div class="content-inner">
		<div class="story">
			<div class="story-left" id="left-story">
				<div class="img">
					<div>
						<img src="https://d3op517cq3iurb.cloudfront.net/{{profile.pic}}" />
					</div>
				</div>
				<h1>{{ profile.fname }} {{ profile.lname }}</h1>
				<p>{{ profile.title }}</p>
				<div class="details">
					<div>
						<span>XP</span>
						<p>{{ points.total }}</p>
					</div>
					{% if profile.city and profile.state %}
					<div>
						<span><i class="icon-map-marker"></i></span>
						<p>{{ profile.city }}, {{ profile.state }}</p>
					</div>
					{% endif %}
					{% if profile.company %}
					<div>
						<span><i class="icon-briefcase"></i></span>
						<p>{{ profile.company }}</p>
					</div>
					{% endif %}
					<div>
						<span><i class="icon-time"></i></span>
						<p><span class="muted">Joined on</span> {{ profile.dateJoined|date:"M d, Y" }}</p>
					</div>
				</div>
			</div>
			<div class="story-right">
				<h3>Experiences Lended</h3>
				<div class="tab-content">
					{% if posts %}
					<ul id="contributionHolder" class="right-ul">
						{% for post in posts %}
						<li class="content-item" id="post_{{post.id}}">
							<h1 class="volk-font">
								{% if myProfile == True %}
									<a href="{% url 'contributions:detail' post.url post.id %}" style="float:left;width:85%;">{{post.title}}</a>
									<a class="edit" href="{% url 'contributions:edit' post.url post.id %}" style="float:right">Edit <i class="icon-edit"></i></a></h1>
								{% else %}
									<a href="{% url 'contributions:detail' post.url post.id %}" >{{post.title}}</a>
								{% endif %}
							</h1>
							<p class="volk-font limited-text">{{ post.description }}</p>
							<div class="tag-holder">
								{% for tag in post.tags.all %}
								<a class="tag volk-font grey-button-flat" href="{% url 'tagDetail:tagView' tag.handle tag.id %}">{{tag.name}} </a>
								{% endfor %}
							</div>
						</li>
						
						{% endfor %}
					</ul>
					{% else %}
					<div class="alert"> <button type="button" class="close" data-dismiss="alert">×</button>{{ profile.fname }} has not Contributed any Experiences.</div>
					{% endif %}
				</div>
				{% if is_paginated %}
						<div class="pagination">
				            <span class="page-links">
				                {% if page_obj.has_previous %}
				                    <a href="?page={{ page_obj.previous_page_number }}"><<</a>
				                {% endif %}
				                <span class="page-current">
				                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
				                </span>
				                {% if page_obj.has_next %}
				                    <a href="?page={{ page_obj.next_page_number }}">>></a>
				                {% endif %}
				            </span>
				        </div>
				{% endif %}
			</div>
		</div>
		
	</div>
</div>
{% endblock %}