{% extends "core/base.html" %}
{% load url from future %}
{% load staticfiles %}

{% block content %}

{% include "core/topNav_detail_in.html" %}
<script type="text/javascript"> 
	var page = "edit_contribution"
	$(document).ready(function(){
		$('#editor').wysiwyg();
	})
</script>

<div class="content">
	<div class="content-inner">
		<div class="table">
			<h3 class="table-title">Edit: {{ post.title }}</h3>			
			<form id="existing_contribution_form" method="POST" action="{% url 'contributions:saveExistingPost' %}">	
				<input type="hidden" id="post_id" name="post_id" value="{{ post.id }}"/>
				<div class="table-row-post">
					<div class="table-col1-post" style="border-top:2px solid #ddd;">
						<label for="lname">Experience Title</label>
					</div>
					<div class="table-col2-post">
						<input type="text" name="title" id="title" class="input-text" placeholder="Experience Title" value="{{ post.title }}"/>
					</div>
				</div>
				<div class="table-row-post">
					<div class="table-col1-post">
						<label for="company">Details</label>
					</div>
					<div class="table-col2-post">
						<div class="btn-toolbar details-wysiwyg-toolbar" data-role="editor-toolbar" data-target="#editor">
							<div class="btn-group">
						    	<a class="btn dropdown-toggle" data-toggle="dropdown" title="" data-original-title="Font"><i class="icon-font"></i><b class="caret"></b></a>
						     	<ul class="dropdown-menu">
						          	<li>
										<a data-edit="fontName Serif" style="font-family:'Serif'">Serif</a>
									</li>
									<li>
										<a data-edit="fontName Sans" style="font-family:'Sans'">Sans</a>
									</li>
									<li>
										<a data-edit="fontName Arial" style="font-family:'Arial'">Arial</a>
									</li>
									<li>
										<a data-edit="fontName Arial Black" style="font-family:'Arial Black'">Arial Black</a></li><li><a data-edit="fontName Courier" style="font-family:'Courier'">Courier</a>
									</li>
									<li>
										<a data-edit="fontName Courier New" style="font-family:'Courier New'">Courier New</a></li><li><a data-edit="fontName Comic Sans MS" style="font-family:'Comic Sans MS'">Comic Sans MS</a>
									</li>
									<li>
										<a data-edit="fontName Helvetica" style="font-family:'Helvetica'">Helvetica</a>
									</li>
									<li>
										<a data-edit="fontName Impact" style="font-family:'Impact'">Impact</a></li><li><a data-edit="fontName Lucida Grande" style="font-family:'Lucida Grande'">Lucida Grande</a></li><li><a data-edit="fontName Lucida Sans" style="font-family:'Lucida Sans'">Lucida Sans</a>
									</li>
									<li>
										<a data-edit="fontName Tahoma" style="font-family:'Tahoma'">Tahoma</a></li><li><a data-edit="fontName Times" style="font-family:'Times'">Times</a>
									</li>
									<li>
										<a data-edit="fontName Times New Roman" style="font-family:'Times New Roman'">Times New Roman</a></li><li><a data-edit="fontName Verdana" style="font-family:'Verdana'">Verdana</a>
									</li>
								</ul>
						     </div>
							 <div class="btn-group">
								 <a class="btn dropdown-toggle" data-toggle="dropdown" title="" data-original-title="Font Size"><i class="icon-text-height"></i>&nbsp;<b class="caret"></b></a>
								 <ul class="dropdown-menu">
									 <li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
									 <li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
									 <li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
								 </ul>
						      </div>
						      <div class="btn-group">
								  <a class="btn" data-edit="bold" title="" data-original-title="Bold (Ctrl/Cmd+B)"><i class="icon-bold"></i></a>
								  <a class="btn" data-edit="italic" title="" data-original-title="Italic (Ctrl/Cmd+I)"><i class="icon-italic"></i></a>
								  <a class="btn" data-edit="strikethrough" title="" data-original-title="Strikethrough"><i class="icon-strikethrough"></i></a>
								  <a class="btn" data-edit="underline" title="" data-original-title="Underline (Ctrl/Cmd+U)"><i class="icon-underline"></i></a>
						      </div>
						      <div class="btn-group">
								  <a class="btn" data-edit="insertunorderedlist" title="" data-original-title="Bullet list"><i class="icon-list-ul"></i></a>
								  <a class="btn" data-edit="insertorderedlist" title="" data-original-title="Number list"><i class="icon-list-ol"></i></a>
								  <a class="btn" data-edit="outdent" title="" data-original-title="Reduce indent (Shift+Tab)"><i class="icon-indent-left"></i></a>
								  <a class="btn" data-edit="indent" title="" data-original-title="Indent (Tab)"><i class="icon-indent-right"></i></a>
						      </div>
						      <div class="btn-group">
								  <a class="btn" data-edit="justifyleft" title="" data-original-title="Align Left (Ctrl/Cmd+L)"><i class="icon-align-left"></i></a>
								  <a class="btn" data-edit="justifycenter" title="" data-original-title="Center (Ctrl/Cmd+E)"><i class="icon-align-center"></i></a>
								  <a class="btn" data-edit="justifyright" title="" data-original-title="Align Right (Ctrl/Cmd+R)"><i class="icon-align-right"></i></a>
								  <a class="btn" data-edit="justifyfull" title="" data-original-title="Justify (Ctrl/Cmd+J)"><i class="icon-align-justify"></i></a>
						      </div>
						      <input type="text" data-edit="inserttext" id="voiceBtn" x-webkit-speech="" style="position:absolute; top:202px;left:875px;width:17px; border:none; outline:none; " />
						</div>
						<div id="editor" class="details-wysiwyg">
							{% if post.formatted_description == "" %}
								{% autoescape off %} {{ post.description | linebreaksbr }} {% endautoescape %}
							{% else %}
								{% autoescape off %} {{ post.formatted_description }} {% endautoescape %}
							{% endif %}
						</div>
					</div>
				</div>
				<textarea id="formatted_description" name="formatted_description" class="blank"></textarea>
				<textarea id="description" name="description" class="blank"></textarea>
				<div class="submit-form">
					<div class="saving-form blank">
						<img src="https://d2usanuqr4r7y2.cloudfront.net/images/icons/blockLoader.gif" class="loader"/>
						<p>Saving your Experience...</p>
					</div>
					<input type="submit" id="submit" name="submit" class="seagreen-button-flat" value="Save Experience" />
				</div>
				{% csrf_token %}
			</form>
		</div>
	</div>
</div>
{% endblock %}