.blue-button-flat,
.orange-button-flat,
.grey-button-flat,
.darkgrey-button-flat,
.lightgrey-button-flat,
.seagreen-button-flat{
	width:auto;
	height:auto;
	padding:7px 14px;
	font-size:14px;
	font-weight:bold;
	font-family:arial;
	text-decoration:none;
	cursor:pointer;
	white-space: nowrap;
	word-wrap: normal;
	vertical-align: middle;
	
	-webkit-border-radius:3px;
	   -moz-border-radius:3px;
	        border-radius:3px;
	-webkit-transition: background-color 0.3s ease;
	   -moz-transition: background-color 0.3s ease;
	    -ms-transition: background-color 0.3s ease;
	     -o-transition: background-color 0.3s ease;
	        transition: background-color 0.3s ease;
}

.blue-button-flat,
.orange-button-flat,
.grey-button-flat,
.lightgrey-button-flat:hover{
	text-decoration:none;
}

.orange-button-flat {
	background-color:#f26d4f;
	/*border:1px solid #e6846e;*/
	border: 1px solid #FF3002;
	color:#FFF6F4;
}

.orange-button-flat:hover {
	background-color:#d44c2d;
	border:1px solid #e6846e;
	color:#FFF6F4;
}
.seagreen-button-flat {
	background-color:#0E4141;
	border: 1px solid #0E4141;
	color:#FFF6F4;
}

.seagreen-button-flat:hover {
	background-color:#5A8181;
	border:1px solid #5A8181;
	color:#FFF6F4;
}

.blue-button-flat {
	background-color:#2B4E72;
	border:1px solid #2B4E72;
	color:#ffffff;
}

.blue-button-flat:hover {
	background-color:#f26d4f;
	border:1px solid #e6846e;
	color:#ffffff;
}

.grey-button-flat{
	background-color: #f5f5f5;
	background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
	border: 1px solid rgba(0,0,0,0.1);
	color: #444;
	-webkit-box-shadow: none;
			box-shadow: none;		
	-webkit-transition: border 0.2s ease;
	   -moz-transition: border 0.2s ease;
	    -ms-transition: border 0.2s ease;
	     -o-transition: border 0.2s ease;
	        transition: border 0.2s ease;
}

.grey-button-flat:hover{
	border:1px solid #C2C2C2;
	color:#444;
}

.darkgrey-button-flat{
	background-color: #CECECE;
	border: 1px solid rgba(0, 0, 0, 0.27);
	color: #444;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: border 0.2s ease;
	-moz-transition: border 0.2s ease;
	-ms-transition: border 0.2s ease;
	-o-transition: border 0.2s ease;
	transition: border 0.2s ease;
}
.disabledGrey{
	background-color: #f8f8f8;
	border:1px solid #d3d3d3;
}
.lightgrey-button-flat{
	background-color: #f8f8f8;
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#fffcfcfc,EndColorStr=#fff8f8f8);
	background-image: -moz-linear-gradient(top,#fcfcfc 0,#f8f8f8 100%);
	background-image: -ms-linear-gradient(top,#fcfcfc 0,#f8f8f8 100%);
	background-image: -o-linear-gradient(top,#fcfcfc 0,#f8f8f8 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fcfcfc),color-stop(100%,#f8f8f8));
	background-image: -webkit-linear-gradient(top,#fcfcfc 0,#f8f8f8 100%);
	background-image: linear-gradient(to bottom,#fcfcfc 0,#f8f8f8 100%);
	border:1px solid #d3d3d3;
	color: #333;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);	
}

.darkgrey-button-flat:hover,
.lightgrey-button-flat:hover{
	border:1px solid #C2C2C2;
	color:#444;
}
.disabledOrange{
	cursor:default;
	background-color:#FAAF9E!important;
}
.disabledOrange:hover{
	background-color:#FAAF9E!important;
}