{% load url from future %}
<div class="top-nav">
	<div class="top-nav-inner">
		<img class="logo" src="https://d3fuw6vo22gqor.cloudfront.net/images/logos/le75.png" />
		<a href="#"class="tab toggle-nav-drop-down">
			<span>Explore ▾</span>
		</a>
		<div class="vertical-divider"></div>
		<a class="tab" href="{% url 'contributions:post' %}">
			<span>Contribute</span>
		</a>
		<div class="vertical-divider"></div>
		<a class="tab">
			<span>Learn More</span>
		</a>
		<div class="vertical-divider"></div>
		<div class="search">
			<input type="text" placeholder="Search Career Experiences" />
		</div>
	</div>
</div>

<div id="explore-drop-down" class="blank">
  	<ul class="nav-drop-down-menu">
    	<li>
			<a href="{% url 'contributions:category' 'artdesignfashion' %}">Art, Design & Fashion</a>
		</li>
	    <li>
			<a href="{% url 'contributions:category' 'business' %}">Business</a>
		</li>
		<li>
			<a href="{% url 'contributions:category' 'education' %}">Education</a>
		</li>
		<li>
			<a href="{% url 'contributions:category' 'energy' %}">Energy</a>
		</li>
		<li>
			<a href="{% url 'contributions:category' 'engineering' %}">Engineering</a>
		</li>
		<li>
			<a href="{% url 'contributions:category' 'entertainment' %}">Entertainment</a>
		</li>
		<li>
			<a href="{% url 'contributions:category' 'governmentlaw' %}">Government & Law</a>
		</li>
		<li>
			<a href="{% url 'contributions:category' 'healthmedicine' %}">Health & Medicine</a>
		</li>
		<li>
			<a href="{% url 'contributions:category' 'nonprofit' %}">NonProfits</a>
		</li>
		<li>
			<a href="{% url 'contributions:category' 'technology' %}">Technology</a>
		</li>
  	</ul>
</div>