{% extends "core/base.html" %}
{% load url from future %}

{% block content %}
{% include "core/topNav_default.html" %}
<div class="content">
	<div class="content-inner">
	    {% if validlink %}
			<div class="form-center">
				<h2 class="merri-font">Create a New Password</h2>
				<p class="inst-text hel-font">Please enter your new password twice. So we can verify you typed it in correctly.</p>
	        	{{ form.new_password1.errors }}
				{{ form.new_password2.errors }}
			
	        <form action="" method="post">
				<input id="id_new_password1" name="new_password1" type="password" placeholder="New Password">
				<input id="id_new_password2" name="new_password2" type="password" placeholder="Type New Password Again">
	            <div style="display:none">
	                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
	            </div>
				<input type="submit" value="Change My Password" class="seagreen-button-flat"/>
	        </form>
	    {% else %}
			<div class="form-center-message">
				<h2 class="merri-font">Password reset unsuccessful</h2>
	        	<p class="hel-font">
					The password reset link was invalid, possibly because it has already been used. Please request a new password reset 
					<a href="{% url 'accounts:password_reset' %}">here</a>.
				</p>
			</div>
	    {% endif %}
	</div>
</div>
{% endblock %}