{% extends "core/base.html" %}
{% load url from future %}

{% block title %}Password reset successful{% endblock %}

{% block content %}
{% include "core/topNav_default.html" %}
<div class="content">
	<div class="content-inner">
		<div class="form-center-message">
			<h2 class="merri-font">Password Reset!</h2>
			<p class="hel-font">We've e-mailed you instructions for setting your password to the e-mail address you submitted.<br/><br/>You should be receiving it shortly.</p>
		</div>
	</div>
</div>
{% endblock %}