{% extends "core/base.html" %}
{% load url from future %}

{% block content %}
{% include "core/topNav_default.html" %}
<div class="content">
	<div class="content-inner">
		<div class="form-center">
			<h2 class="merri-font">Reset Your Password</h2>
			<p class="inst-text hel-font">Please specify your email address to receive instructions for resetting your password.</p>
			{{ form.email.errors }}
			<form action="" method="post">
				<input id="id_email" maxlength="254" name="email" type="text" placeholder="Email Address">
				<input type="submit" value="Reset Password" class="seagreen-button-flat"/>
		    	<div style="display:none">
		       		<input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
		    	</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
