{% load url from future %}
{% autoescape off %}
Hi {{ first_name }},

Welcome to the community, it's great to have you!

At Lend Experience we're working hard to organize the world's career knowledge and make that knowledge more easily accessible among recent grads entering the working world. If you have any career experiences you think others could benefit from, feel free to share.

Also if you'd like to get involved with a community team(lendexperience.com/communities) or launch a new one, don't hesitate in contacting us(hello@lendexperience.com), we'd love to talk. 

- The Lend Experience Team

{% endautoescape %}